body {
    background-color: #178b10;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 16px;
    color: #f3f8f3;
}

.post {
    width: 860px;
    height: 250px;
    background-color: #f3f8f3;
    border-radius: 5px;
    border: solid;
    border-color: #f3f8f3;
}

.center {
    display: flex;
    justify-content: center;
}

#post {
    width: 840px;
    height: 150px;
}