body {
    background-color: #178b10;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 16px;
    color: #f3f8f3;
}

.post {
    width: 860px;
    height: 275px;
    background-color: #f3f8f3;
    border-radius: 5px;
    border: solid;
    border-color: #f3f8f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.center {
    display: flex;
    justify-content: center;
}


textarea {
    resize: none;
    margin-left: 25px;
    margin-right: 25px;
}

#title {
    margin-bottom: 25px;
}

#text {
    margin-bottom: 25px;
}