body {
    background-color: #178b10;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 16px;
    color: #f3f8f3;
}

.post {
    width: 860px;
    height: 250px;
    background-color: #f3f8f3;
    border-radius: 5px;
    border: solid;
    border-color: #f3f8f3;
}

.center {
    display: flex;
    justify-content: center;
}

#post {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}